@model IEnumerable<Play>

@{
    ViewData["Title"] = "List of Plays";
}
<div class="container">
<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="col-md-6 mb-3">
            <div class="border-primary">
                    <div class="card mb-3" style="max-width: 540px; margin-left: auto; margin-right: auto;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-secondary">
                            <p class="card-text">
                                <h5 class="card-title d-flex justify-content-between">
                                    <span>@item.Name</span>

                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                    }

                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageURL" width="100%" alt="@item.Name">
                    </div>
                    <div class="col-md-6">
                                <div class="card-body text-left">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Theater: </b>@item.Theater.Name</p>
                            <p class="card-text"><b>Category: </b>@item.PlayCategory</p>
                            <p class="card-text"><b>Start Date: </b>@item.StartDate.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>End Date: </b>@item.EndDate.ToString("dd MMM yy")</p>
                            <p class="card-text ">
                                <b>Status: </b>
                                @if(DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                } else if(DateTime.Now > item.EndDate)
                                {
                                    <span class="badge bg-danger text-white">UNAVAILABLE</span>
                                } else
                                {
                                    <span class="badge bg-primary text-white">UPCOMING</span>
                                }
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details</a>
                                <a class="btn @(DateTime.Now > item.EndDate ? "btn-outline-secondary disabled" : "btn-success")"
                                   asp-controller="Orders"
                                   asp-action="AddItemToShoppingCart"
                                   asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))
                                </a>


                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    }
</div>
</div>

@await Html.PartialAsync("_CreateItem", "Plays")